<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/simple-grid-landing.css">
</head>

<body>
	<div class="title">
		Best Avo Deals <img
				src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/69037/cute-avocado-clipart-xl.png"
				alt="" id="avo" width="60px">
		
	</div>
	<div class="container">
		{{{body}}}
	</div>
</body>

</html>